@import "tailwindcss";

:root{
 --color-primary_color:#853721;
 --color-hover_color:#FF00FF;
 --color-secondary_color:#ed667d;
   --bg-color: #ffffff;
  --text-color: #000000;

}

@theme{
  --color-primary_color:var(--color-primary_color);
  --color-hover_color:var(--color-hover_color);
  --color-secondary_color:var(--color-secondary_color)
}
.dark-mode {
  --bg-color: #111111;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

.theme-toggle-btn {
  background: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}